@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
	--primary: #dc3545;
	--white: whitesmoke;
	--secondary: #b0eacd;
	--dark_secondary: #21bf73;
}

a:hover {
  color: initial;
}

.x-large-font {
  font-size: x-large !important;
}

.xx-large-font {
  font-size: xx-large !important;
}

.xxx-large-font {
  font-size: xxx-large !important;
}

.d-name, .d-name span {
	font-family: "Roboto Slab", sans-serif !important;
}

.bg-green {
	background-color: var(--dark_secondary) !important;
}

.border-green {
	border: var(--dark_secondary) 2px solid !important;
}

.text-green {
	color: var(--dark_secondary);
}

.c-red {
	color: var(--primary);
}

/* DIRTY WHITE BG */
section#about,
section#services {
	background-color: #eeeeee;
}

/* dropdown-toggle::after */
.dropdown-toggle::after {
  display: none;
}

/* Notification DROPDOWN */
.notification.dropdown-menu {
  max-height: 375px !important;
  overflow-y: scroll;
}

.notification.dropdown-menu li:hover i {
  color: var(--dark_secondary) !important;
}

.notification.dropdown-menu li:hover {
  color: inherit !important;
  cursor: pointer;
}

.notification.dropdown-menu {
  max-height: 375px !important;
  overflow-y: auto;
}

.notification.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.notification.dropdown-menu::-webkit-scrollbar-track {
  background: var(--white);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.notification.dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 50px; 
  border: 2px solid var(--white);
}

.notification.dropdown-menu li:hover i {
  color: var(--dark_secondary) !important;
}

.notification.dropdown-menu li:active i.bx,
.notification.dropdown-menu li:active div.fw-bold,
.notification.dropdown-menu li:active small.text-muted {
  color: white !important;
}

.notification.dropdown-menu li:hover {
  color: inherit !important;
  cursor: pointer;
}

.notification.dropdown-menu .header {
  pointer-events: none;
}

.notification.dropdown-menu .header i.bx {
  pointer-events: auto;
}

.notification.dropdown-menu .header i.bx:hover {
  color: var(--dark_secondary) !important;
  cursor: pointer;
}

* {
	font-family: "Oswald", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none !important;
}

html {
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

body {
	background-color: whitesmoke;
}

/* MAIN */
section.main {
	min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	border-image: fill 0 linear-gradient(to right, #ad2634, #00000000);
  background: url(../assets/images/bg-1.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

/* HEADER NAVLINKS */
ul.header.nav .nav-link {
	position: relative;
}

ul.header.nav .nav-link::after {
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--primary);
  height: 1px;
	transition: all .3s;
}

ul.header.nav .nav-link:not(.active, .bg-green):hover::after {
	width: 100%;
}

/* INDEX SERVICES */
section#services img {
	width: 100%;
}

section#services .card {
	min-height: 220px;
	margin-top: -40px;
}

/* APPPOINTMENT RADIO BUTTONS */
.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 5px;
}

.radio-input:checked + .radio-tile {
	background-color: var(--primary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--primary);
  border-color: var(--primary);
}

.radio-input:checked + .radio-tile .radio-label {
  color: var(--white);
}

.radio-input:focus + .radio-tile {
  border-color: var(--primary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #fcb5b5;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #d9b5b5;
  background-color: var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile.time {
  width: 100px;
  min-height: 45px;
}

.radio-tile:hover {
  border-color: var(--primary);
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CHAT.PHP CHAT SECTION */
section#chat {
  height: calc(100vh - 79px);
  margin-top: 30px;
}

section#chat .body {
  overflow-y: scroll;
  height: calc(100% - 133px);
}

section#chat #chat_text {
  max-width: 75%;
}

/* ABOUT US SECTION */
section.about-section {
  margin-top: 100px;
}

/* CONTACT SECTION */
section.main.contact {
  min-height: 75vh;
}

section#contacts .box-1 {
  margin-top: -110px;
}

/* FOOTER CONTENT */
.contact-content p::after {
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: var(--primary);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  margin: 0 10px;
}

.contact-social ul li a {
  border: 1px solid var(--primary);
  color: var(--primary);
  height: 40px;
  padding-top: 7px;
  transition: all 0.4s ease;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid var(--dark_secondary);
  color: var(--dark_secondary);
  background: none;
}


/*------------------|
| DOCTOR'S PAGE CSS |
|------------------*/
#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

#calendar button {
  color: whitesmoke;
}


@media (max-width:450px) {
	section.main .img {
		display: none;
	}

	section#services .card {
		min-height: 220px;
		margin-top: -90px;
	}

	section#about .row {
		flex-direction: column-reverse;
	}

	section#about img {
		margin-bottom: -125px;
	}

  section.main {
    border-image: fill 0 linear-gradient(to top, #ad2634, #00000000);
  }
}